<h2>Form</h2>

<form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">

    <app-button (click)="onPatchValue()">Patch Value</app-button>
    <app-button (click)="onToggleInline()">Toggle Inline</app-button>
    <br /><br /><br />

    <app-form-field label="Input" [required]="true" [control]="form.controls.input" [isInline]="isInline"
        [patternError]="regexErrors.numbers">
        <app-input formControlName="input"></app-input>
    </app-form-field>

    <app-form-field label="Password" [required]="true" [control]="form.controls.password" [isInline]="isInline">
        <app-password formControlName="password"></app-password>
    </app-form-field>

    <app-form-field label="Select" [required]="true" [control]="form.controls.select" [isInline]="isInline">
        <app-select formControlName="select" [items]="items"></app-select>
    </app-form-field>

    <app-form-field label="Checkboxes" [required]="true" [control]="form.controls.checkboxes" [isInline]="isInline">
        <app-checkboxes formControlName="checkboxes" [items]="items"></app-checkboxes>
    </app-form-field>

    <app-form-field label="Radios" [required]="true" [control]="form.controls.radios" [isInline]="isInline">
        <app-radios formControlName="radios" [items]="items">
        </app-radios>
    </app-form-field>

</form>

<code>
    {{ form.value | json }}
</code>